ul.n {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #525656;
  }
  
  li.n {
    float: left;
  }
  
  a {
    display: block;
    color: #e8e8e8;
    text-align: center;
    font-size: 0.70vw;
    padding: 17px 40px;
    text-decoration: none;
    font-family: "Karla", sans-serif;
    letter-spacing: 0.05vw;
  }
  .active {
    background-color: #B5373F;
    color: #e8e8e8;
    font-family: "Karla", sans-serif;
    
  }
  .activebkg {
    background-color: #94b0b0;
    color: #454949;
    font-family: "Karla", sans-serif;
  }
  