body {background-color: #313131;
}

h4 {
  color:#e8e8e8;
  font-family: "Karla", sans-serif;
  font-size: 5vw;
  position: relative;
  margin-left: 110px;
  top: -40px;
  line-height: 5.5vw;
}

h4 span {
  transition: color 3s;
  transition-delay: 1s;
  letter-spacing: -0.1vw;
}

h4 span:hover {
  transition: color 0s;
}

h4 span:nth-child(1n):hover {
  color: #82090f;
}

h4 span:nth-child(2n):hover {
  color: #842a2b;
}

h4 span:nth-child(3n):hover {
  color: #c12427;
}

h5 {
  color:#e8e8e8;
  font-family: "Karla", sans-serif;
  font-size: 1.5vw;
  position: relative;
  margin-left: 120px;
  top: -170px;

}

h5 span {
  transition: color 3s;
  transition-delay: 1s;
  letter-spacing:0.1vw;
}

h5 span:hover {
  transition: color 0s;
}

h5 span:nth-child(1n):hover {
  color: #82090f;
}

h5 span:nth-child(2n):hover {
  color: #842a2b;
}

h5 span:nth-child(3n):hover {
  color: #c12427;
}

.grid-item-1 h6 {
  color:#8bbfef;
  font-family: 'Heebo';
  font-size: 25px;
  position: relative;
  font-weight: normal;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  top:-510px;
  z-index: 2;
}

.grid-item-1 h6:hover{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: 26px;
  
}
.grid-item-1 p {
  margin: 20px;
  padding: 10px;
  width: 240px;
  height: 350px;
  font-family: 'Heebo';
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #8bbfef;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}
.grid-item-1:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}   
.grid-container {
  display: grid;
  grid-gap: 70px 80px;
  grid-template-columns: auto auto auto auto;
  padding: 30px 220px;

}
.box1{
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url(images/github_logo_1.png);
  top: -120px;
  margin-left: 110px;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0) scale(0.9);
  transform: translate3d(0,0,0) scale(0.9);
}
.box1:hover{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}

.box2{
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url(images/github_logo_2.png);
  top: -120px;
  margin-left: 110px;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0) scale(0.9);
  transform: translate3d(0,0,0) scale(0.9);
}
.box2:hover{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
} 
.box3{
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url(images/github_logo_3.png);
  top: -120px;
  margin-left: 110px;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0) scale(0.9);
  transform: translate3d(0,0,0) scale(0.9);
}
.box3:hover{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.box4{
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url(images/github_logo_4.png);
  top: -120px;
  margin-left: 110px;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0) scale(0.9);
  transform: translate3d(0,0,0) scale(0.9);
}
.box4:hover{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.box5{
  position: relative;
  width: 80px;
  height: 80px;
  background-image: url(images/github_logo_5.png);
  top: -120px;
  margin-left: 110px;
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,0,0) scale(0.9);
  transform: translate3d(0,0,0) scale(0.9);
}
.box5:hover{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
    

.grid-item-1 {
  width: 300px;
  height: 450px;
  border: 3px solid #B5373F;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}
.grid-item-1 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.grid-item-1:hover img {
	opacity: 0.1;
}

.grid-item-2 {
  width: 300px;
  height: 450px;
  border: 3px solid #B5373F;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}
.grid-item-2 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.grid-item-2:hover img {
	opacity: 0.1;
}

.grid-item-2 p {
  margin: 20px;
  padding: 10px;
  width: 240px;
  height: 350px;
  font-family: 'Heebo';
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #e5b516;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}

.grid-item-2 h6 {
  color:#e5b516;
  font-family: 'Heebo';
  font-size: 25px;
  position: relative;
  font-weight: normal;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  top:-510px;
  z-index: 2;
}

.grid-item-2 h6:hover{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: 26px;
  
}
.grid-item-2:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.grid-item-3 {
  width: 300px;
  height: 450px;
  border: 3px solid #B5373F;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}
.grid-item-3 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.grid-item-3:hover img {
	opacity: 0.1;
}

.grid-item-3 p {
  margin: 20px;
  padding: 10px;
  width: 240px;
  height: 350px;
  font-family: 'Heebo';
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #70e53d;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}

.grid-item-3 h6 {
  color:#70e53d;
  font-family: 'Heebo';
  font-size: 25px;
  position: relative;
  font-weight: normal;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  top:-510px;
  z-index: 2;
}

.grid-item-3 h6:hover{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: 26px;
  
}
.grid-item-3:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.grid-item-4 {
  width: 300px;
  height: 450px;
  border: 3px solid #B5373F;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}
.grid-item-4 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.grid-item-4:hover img {
	opacity: 0.1;
}

.grid-item-4 p {
  margin: 20px;
  padding: 10px;
  width: 240px;
  height: 350px;
  font-family: 'Heebo';
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #ad6cb7;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}

.grid-item-4 h6 {
  color:#ad6cb7;
  font-family: 'Heebo';
  font-size: 25px;
  position: relative;
  font-weight: normal;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  top:-510px;
  z-index: 2;
}

.grid-item-4 h6:hover{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: 26px;
  
}
.grid-item-4:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.grid-item-5 {
  width: 300px;
  height: 450px;
  border: 3px solid #B5373F;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}
.grid-item-5 img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  width: 300px;
  height: 450px;
  z-index: 1;
}

.grid-item-5:hover img {
	opacity: 0.1;
}

.grid-item-5 p {
  margin: 20px;
  padding: 10px;
  width: 240px;
  height: 350px;
  font-family: 'Heebo';
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #3b9cba;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
}

.grid-item-5 h6 {
  color:#3b9cba;
  font-family: 'Heebo';
  font-size: 25px;
  position: relative;
  font-weight: normal;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
  top:-510px;
  z-index: 2;
}

.grid-item-5 h6:hover{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  font-size: 26px;
  
}
.grid-item-5:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}
.grid-item-6 {
  width: 300px;
  height: 450px;
  background-color: #262b33;
  border: 2px solid #B5373F;
  padding: 0px;
  font-size: 40px;
  text-align: center;
}
.grid-item-7 {
  width: 300px;
  height: 450px;
  background-color: #262b33;
  border: 2px solid #B5373F;
  padding: 0px;
  font-size: 40px;
  text-align: center;
}
.grid-item-8 {
  width: 300px;
  height: 450px;
  background-color: #262b33;
  border: 2px solid #B5373F;
  padding: 0px;
  font-size: 40px;
  text-align: center;
}

.download-btn {
  color: #e8e8e8;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-decoration: none;
  background: #313131;
  padding: 10px;
  border: 4px solid #B5373F;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-left: 110px;
  top: 100px;
  transition: all 0.8s ease 0s;
  }
  .download-btn:hover {
  color: #e8e8e8;
  background: #B5373F;
  border-color: #e8e8e8;
  transition: all 0.7s ease 0s;
  }

  h7 {
    color:#e8e8e8;
    font-family: "Nunito";
    font-size: 3vw;
    text-decoration: underline;
    text-decoration-color:#B5373F;   
    position: relative;
    margin-left: 110px;
    top: 40px;
    line-height: 5.5vw;
  }
  
  h7 span {
    transition: color 3s;
    transition-delay: 1s;
    letter-spacing: -0.1vw;
  }
  
  h7 span:hover {
    transition: color 0s;
  }
  
  h7 span:nth-child(1n):hover {
    color: #82090f;
  }
  
  h7 span:nth-child(2n):hover {
    color: #842a2b;
  }
  
  h7 span:nth-child(3n):hover {
    color: #c12427;
  }

  h8 {
    color:#e8e8e8;
    font-family: "Nunito";
    font-size: 1.2vw;
    position: relative;
    margin-left: 110px;
    top: 40px;
  }